<config version="v1">
    <chain template="cache-fs"/>
    <provider id="cache-fs" type="cache-fs">
        <cacheProviderDir>/data1/filestore</cacheProviderDir>
        <maxCacheSize>10000000000</maxCacheSize>
    </provider>
</config>
