type=mssql
driver=com.microsoft.sqlserver.jdbc.SQLServerDriver
url=jdbc:sqlserver://{{ mssql_address }}:{{ mssql_port }};databaseName={{ database_name }};sendStringParametersAsUnicode=false;applicationName=Artifactory
username={{ sql_user }}
password={{ sql_password }}
