---
shared:
  extraJavaOpts: "{{ java_options }}"
  database:
    type: mssql
    driver: com.microsoft.sqlserver.jdbc.SQLServerDriver
    url: {{ ("jdbc:sqlserver://" + mssql_address + ":" + mssql_port|string + ";databaseName=" + database_name + ";sendStringParametersAsUnicode=false;applicationName=Artifactory Binary Repository") | quote }}
    username: {{ sql_user }}
    password: {{ sql_password }}
  node:
    haEnabled: true
    id: "{{ node_name }}"
    ip: "{{ node_ip }}"
router:
  entrypoints:
    externalPort: 8082
