unqualified-search-registries = ["esw-arifactory.got.volvo.net", "esw-artifactory"]

{% for item in docker_registries %}
[[registry]]
prefix = "{{ item.prefix }}"
location = "{{ item.prefix }}"
insecure = {{ item.insecure }}

{% endfor %}

{% for item in artifactory_mirrors %}
[[registry.mirror]]
location = "{{ item }}"
insecure = true

{% endfor %}
