---

## Apply horizontal pod auto scaling on artifactory pods
## Ref: https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 70

# Artifactory
artifactory:
  name: artifactory
  # For HA installation, set this value > 1. This is only supported in Artifactory 7.25.x (appVersions) and above.
  replicaCount: 1
  # Note that by default we use appVersion to get image tag/version
  image:
    registry: releases-docker.jfrog.io
    repository: jfrog/artifactory-oss
    tag: {{ artifactory_version }}
    pullPolicy: IfNotPresent
  labels: {}
  updateStrategy:
    type: RollingUpdate

  # Create a priority class for the Artifactory pod or use an existing one
  # NOTE - Maximum allowed value of a user defined priority is 1000000000
  priorityClass:
    create: false
    value: 1000000000
    ## Override default name
    # name:
    ## Use an existing priority class
    # existingPriorityClass:

  # Delete the db.properties file in ARTIFACTORY_HOME/etc/db.properties
  deleteDBPropertiesOnStartup: false

  # certificates added to this secret will be copied to $JFROG_HOME/artifactory/var/etc/security/keys/trusted directory
  customCertificates:
    enabled: false
    # certificateSecretName:

  # Files to copy to ARTIFACTORY_HOME/ on each Artifactory startup
  copyOnEveryStartup:
  #  # Absolute path
  #  - source: /artifactory_bootstrap/binarystore.xml
  #    # Relative to ARTIFACTORY_HOME/
  #    target: etc/artifactory/
  #  # Absolute path
  #  - source: /artifactory_bootstrap/artifactory.lic
  #    # Relative to ARTIFACTORY_HOME/
  #    target: etc/artifactory/

  # Sidecar containers for tailing Artifactory logs
  loggers: []
  # - access-audit.log
  # - access-request.log
  # - access-security-audit.log
  # - access-service.log
  # - artifactory-access.log
  # - artifactory-event.log
  # - artifactory-import-export.log
  # - artifactory-request.log
  # - artifactory-service.log
  # - frontend-request.log
  # - frontend-service.log
  # - metadata-request.log
  # - metadata-service.log
  # - router-request.log
  # - router-service.log
  # - router-traefik.log
  # - derby.log

  # Migration support from 6.x to 7.x
  migration:
    enabled: false
    timeoutSeconds: 3600
    ## Extra pre-start command in migration Init Container to install JDBC driver for MySql/MariaDb/Oracle
    # preStartCommand: "mkdir -p /opt/jfrog/artifactory/var/bootstrap/artifactory/tomcat/lib && cd /opt/jfrog/artifactory/var/bootstrap/artifactory/tomcat/lib && wget -O mssql-jdbc.tar.gz https://go.microsoft.com/fwlink/?linkid=2186164 && tar xvzf mssql-jdbc.tar.gz && mv sqljdbc_9.4/enu/mssql-jdbc-9.4.1.jre11.jar /opt/jfrog/artifactory/var/bootstrap/artifactory/tomcat/lib/ && rm -R sqljdbc_9.4"
    preStartCommand: "mkdir -p /var/opt/jfrog/artifactory/etc/ && cp /tmp/db/db.properties /var/opt/jfrog/artifactory/etc/ && mkdir -p /opt/jfrog/artifactory/tomcat/lib && cd /opt/jfrog/artifactory/tomcat/lib && wget -qO- https://go.microsoft.com/fwlink/?linkid=2183223 | tar xvz && mv sqljdbc_9.4/enu/mssql-jdbc-9.4.1.jre11.jar /opt/jfrog/artifactory/tomcat/lib/ && rm -R sqljdbc_9.4"
  ## Add custom volumes
  customVolumes: |
    - name: db-props
      configMap:
        name: {{ db_properties_cm }}
{% for filestore, _ in filestores.items() %}
    - name: {{ filestore }}
      persistentVolumeClaim:
        claimName: pvc-{{ filestore }}
{% endfor %}

  ## Add custom volumesMounts
  customVolumeMounts: |
    - name: db-props
      #mountPath: "/var/opt/jfrog/artifactory/etc/db.properties"
      #mountPath: "/artifactory_bootstrap/db.properties"
      mountPath: "/tmp/db/db.properties"
      subPath: db.properties
{% for filestore, value in filestores.items() %}
    - name: {{ filestore }}
      mountPath: {{ value.mount }}
{% endfor %}
  #  - name: posthook-start
  #    mountPath: "/scripts/posthoook-start.sh"
  #    subPath: posthoook-start.sh
  #  - name: prehook-start
  #    mountPath: "/scripts/prehook-start.sh"
  #    subPath: prehook-start.sh

  # Add custom persistent volume mounts - Available to the entire namespace
  customPersistentVolumeClaim: {}
  #  name:
  #  mountPath:
  #  accessModes:
  #   - "-"
  #  size:
  #  storageClassName:

  ## Artifactory license.
  license:
    ## licenseKey is the license key in plain text. Use either this or the license.secret setting
    licenseKey:
    ## If artifactory.license.secret is passed, it will be mounted as
    ## ARTIFACTORY_HOME/etc/artifactory.lic and loaded at run time.
    secret:
    ## The dataKey should be the name of the secret data key created.
    dataKey:

  ## Create configMap with artifactory.config.import.xml and security.import.xml and pass name of configMap in following parameter
  # configMapName: {{ db_properties_cm }}

  # Add any list of configmaps to Artifactory
  # configMaps: |
  #  posthook-start.sh: |-
  #    echo "This is a post start script"
  #  posthook-end.sh: |-
  #    echo "This is a post end script"

  ## List of secrets for Artifactory user plugins.
  ## One Secret per plugin's files.
  userPluginSecrets:
  #  - archive-old-artifacts
  #  - build-cleanup
  #  - webhook

  ## Artifactory requires a unique master key.
  ## You can generate one with the command: "openssl rand -hex 32"
  ## An initial one is auto generated by Artifactory on first startup.
  # masterKey: FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF
  ## Alternatively, you can use a pre-existing secret with a key called master-key by specifying masterKeySecretName
  masterKeySecretName: {{ masterkey_secret }}

  ## Join Key to connect other services to Artifactory
  ## IMPORTANT: Setting this value overrides the existing joinKey
  ## IMPORTANT: You should NOT use the example joinKey for a production deployment!
  # joinKey: EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
  ## Alternatively, you can use a pre-existing secret with a key called join-key by specifying joinKeySecretName
  joinKeySecretName: {{ joinkey_secret }}

  # Add custom secrets - secret per file
  customSecrets:
  #  - name: custom-secret
  #    key: custom-secret.yaml
  #    data: >
  #      custom_secret_config:
  #        parameter1: value1
  #        parameter2: value2
  #  - name: custom-secret2
  #    key: custom-secret2.config
  #    data: |
  #      here the custom secret 2 config

  ## If false, all service console logs will not redirect to a common console.log
  consoleLog: false

  binarystore:
    enabled: true

  ## admin allows to set the password for the default admin user.
  ## See: https://www.jfrog.com/confluence/display/JFROG/Users+and+Groups#UsersandGroups-RecreatingtheDefaultAdminUserrecreate
  admin:
    ip: "127.0.0.1"
    username: "admin"
    password:
    secret:
    dataKey:

  ## Extra pre-start command to install JDBC driver for MySql/MariaDb/Oracle
  # preStartCommand: "mkdir -p /opt/jfrog/artifactory/var/bootstrap/artifactory/tomcat/lib && cd /opt/jfrog/artifactory/var/bootstrap/artifactory/tomcat/lib && wget -O mssql-jdbc.tar.gz https://go.microsoft.com/fwlink/?linkid=2186164 && tar xvzf mssql-jdbc.tar.gz && mv sqljdbc_9.4/enu/mssql-jdbc-9.4.1.jre11.jar /opt/jfrog/artifactory/var/bootstrap/artifactory/tomcat/lib/ && rm -R sqljdbc_9.4"
  # preStartCommand: "mkdir -p /opt/jfrog/artifactory/tomcat/lib && cd /opt/jfrog/artifactory/tomcat/lib && wget -qO- https://go.microsoft.com/fwlink/?linkid=2183223 | tar xvz && mv sqljdbc_9.4/enu/mssql-jdbc-9.4.1.jre11.jar /opt/jfrog/artifactory/tomcat/lib/ && rm -R sqljdbc_9.4"
  preStartCommand: "mkdir -p /var/opt/jfrog/artifactory/etc/ && cp /tmp/db/db.properties /var/opt/jfrog/artifactory/etc/ && mkdir -p /opt/jfrog/artifactory/tomcat/lib && cd /opt/jfrog/artifactory/tomcat/lib && wget -qO- https://go.microsoft.com/fwlink/?linkid=2183223 | tar xvz && mv sqljdbc_9.4/enu/mssql-jdbc-9.4.1.jre11.jar /opt/jfrog/artifactory/tomcat/lib/ && rm -R sqljdbc_9.4"
  ## Extra post-start command to run extra commands after container starts
  # postStartCommand:

  ## Extra environment variables that can be used to tune Artifactory to your needs.
  ## Uncomment and set value as needed
  extraEnvironmentVariables:
  # - name: SERVER_XML_ARTIFACTORY_PORT
  #   value: "8081"
  # - name: SERVER_XML_ARTIFACTORY_MAX_THREADS
  #   value: "200"
  # - name: SERVER_XML_ACCESS_MAX_THREADS
  #   value: "50"
  # - name: SERVER_XML_ARTIFACTORY_EXTRA_CONFIG
  #   value: ""
  # - name: SERVER_XML_ACCESS_EXTRA_CONFIG
  #   value: ""
  # - name: SERVER_XML_EXTRA_CONNECTOR
  #   value: ""
  # - name: DB_POOL_MAX_ACTIVE
  #   value: "100"
  # - name: DB_POOL_MAX_IDLE
  #   value: "10"
  # - name: MY_SECRET_ENV_VAR
  #   valueFrom:
  #     secretKeyRef:
  #       name: my-secret-name
  #       key: my-secret-key

  service:
    name: artifactory
    type: LoadBalancer
    # nodePort: 8081 #Doesn't seem to work

  ## IMPORTANT: If overriding artifactory.internalPort:
  ## DO NOT use port lower than 1024 as Artifactory runs as non-root and cannot bind to ports lower than 1024!
  externalPort: 8082
  internalPort: 8082
  externalArtifactoryPort: 8081
  internalArtifactoryPort: 8081
  uid: {{ artifactory_uid }}
  gid: {{ artifactory_gid }}
  terminationGracePeriodSeconds: 30

  livenessProbe:
    enabled: true
    config: |
      exec:
        command:
          - sh
          - -c
          - wget -O- --no-check-certificate --quiet --timeout 1 {{ 'http://localhost:{{ .Values.artifactory.internalArtifactoryPort }}/artifactory' }} | grep "title" | grep -v "Starting Up..."
          #- curl -k --fail --max-time 1 {{ 'http://localhost:{{ .Values.artifactory.tomcat.maintenanceConnector.port }}/artifactory/api/v1/system/liveness' }}
      initialDelaySeconds: {{ '{{ if semverCompare "<v1.20.0-0" .Capabilities.KubeVersion.Version }}180{{ else }}0{{ end }}' }}
      periodSeconds: 10
      timeoutSeconds: 5
      failureThreshold: 10
      successThreshold: 1
  startupProbe:
    enabled: true
    config: |
      exec:
        command:
          - sh
          - -c
          - wget -O- --no-check-certificate --quiet --timeout 1 {{ 'http://localhost:{{ .Values.artifactory.internalArtifactoryPort }}/artifactory' }} | grep "title" | grep -v "Starting Up..."
      initialDelaySeconds: 10
      failureThreshold: 90
      periodSeconds: 5
      timeoutSeconds: 5

  persistence:
    mountPath: "/var/opt/jfrog/artifactory"
    enabled: true
    ## A manually managed Persistent Volume and Claim
    ## Requires persistence.enabled: true
    ## If defined, PVC must be created manually before volume will be bound
    # existingClaim: artifactory-pvc

    accessMode: ReadWriteOnce
    ## Storage default size. Should be increased for production deployments.
    size: 20Gi

    ## Use a custom Secret to be mounted as your binarystore.xml
    ## NOTE: This will ignore all settings below that make up binarystore.xml
    customBinarystoreXmlSecret: {{ binarystorexml_secret }}

    storageClassName: "openebs-hostpath"
    ## Annotations for the Persistent Volume Claim
    annotations: {}
  ## Uncomment the following resources definitions or pass them from command line
  ## to control the cpu and memory resources allocated by the Kubernetes cluster
  resources:
    requests:
      memory: {{ artifactory_mem_req | default("6") }}Gi
      cpu: {{ artifactory_cpu_req | default("4") }}
    limits:
      memory: {{ artifactory_mem_lim | default("10") }}Gi
      cpu: {{ artifactory_cpu_lim | default("8") }}
  ## The following Java options are passed to the java process running Artifactory.
  ## You should set them according to the resources set above
  javaOpts:
    xms: {{ artifactory_mem_req | default("6") }}Gi
    xmx: {{ ((artifactory_mem_lim | int) * 0.8) | int | default("8") }}Gi
    other: "{{ artifactory_javaopts }}"

## Nginx
## See full list of supported Nginx options and documentation in artifactory chart: https://github.com/jfrog/charts/tree/master/stable/artifactory
nginx:
  enabled: false

## Database configurations
## Use the wait-for-db init container. Set to false to skip
waitForDatabase: true

## Configuration values for the PostgreSQL dependency sub-chart
## ref: https://github.com/bitnami/charts/blob/master/bitnami/postgresql/README.md
postgresql:
  enabled: false

## If NOT using the PostgreSQL in this chart (postgresql.enabled=false),
## specify custom database details here or leave empty and Artifactory will use embedded derby
database:
  type: mssql
  driver: com.microsoft.sqlserver.jdbc.SQLServerDriver
  url: "{{ mssql_url }}"
  user: {{ mssql_user }}
  password: {{ mssql_password }}
