---
version: '3'
services:
  artifactory:
    image: docker.bintray.io/jfrog/artifactory-oss:6.18.5
    container_name: artifactory
    user: "{{ art_uid }}:{{ art_gid }}"
    ports:
      - 8081:8081
    environment:
      - EXTRA_JAVA_OPTIONS={{ java_opts | default("-Xms512m -Xmx4g") }}
    restart: always
    ulimits:
      nproc: 65535
      nofile:
        soft: 32000
        hard: 40000
    deploy:
      resources:
        limits:
          memory: {{ ((artifactory_mem_lim | int) + 1) | int | default("10") }}g
          cpus: {{ artifactory_cpu_lim | default("8") }}
        reservations:
          memory: {{ ((artifactory_mem_req | int) + 1) | default("6") }}g
          cpus: {{ artifactory_cpu_req | default("4") }}
    volumes:
      - {{ deploy_home }}/artifactory-docker:/var/opt/jfrog/artifactory/etc
      - {{ artifactory_home }}/etc/db.properties:/var/opt/jfrog/artifactory/etc/db.properties
      - {{ artifactory_home }}/etc/binarystore.xml:/var/opt/jfrog/artifactory/etc/binarystore.xml
      - {{ artifactory_home }}/etc/security:/var/opt/jfrog/artifactory/etc/security
      - {{ artifactory_home }}/data:/var/opt/jfrog/artifactory/data
      - {{ artifactory_home }}/tomcat/lib/mssql-jdbc-9.4.1.jre8.jar:/opt/jfrog/artifactory/tomcat/lib/mssql-jdbc-9.4.1.jre8.jar
{% for key, item in filestores.items() %}
      - {{ key }}:{{ item.mount }}
{% endfor %}

volumes:
{% for key, item in filestores.items() %}
  {{ key }}:
    driver_opts:
      type: "nfs"
      o: "addr={{ item.address }},{{ item.options }}"
      device: ":{{ item.path }}"
{% endfor %}
